<!--<h1>Welcome to Bluemoon Appliance Service</h1>-->

<div class="container-fluid">
  <div class="container xd-container">

<!--    <h2>Welcome</h2>-->
    <h4 class="display-4 mt-5 text-center">Bluemoon Appliance Services</h4>
    <br>
<!--    <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"><br><br>-->
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <p><b>What do we do</b></p>
        <p> We at bluemoon appliance services are commited to provide the best of the services. We provide repair services
        to multiple household appliances such as  Air-conditioners, Dryers, Fan, Oven, Refrigerator and Television
        </p>
        <br><br>
        <p><b>Annual Maintenance Service</b></p>
        <p>Now you can also subscribe the annual maintenance service and we will provide
          three free services for an entire year. Charges for a year are as follows<p>
        <ul>
          <li>Air-conditioners - 100$</li>
          <li>Dryers - 150$</li>
          <li>Fan - 120$</li>
          <li>Oven - 130$</li>
          <li>Refrigerator - 140$</li>
          <li>Television - 90$</li>
        </ul>
        <p>Charges exclude the cost of replacement of any parts</p>
      </div>

      <div class="col-lg-6 col-sm-12 mb-5">

        <p><b>How to Service your appliance</b></p>
        <p>Please call on 818123456 to service your appliance now.
        <br><br>
        <p>It will usually take 5-7 business working days to service your appliance. Once ready we will call you
          to pickup your appliance.
        </p>
        <br>
        <p><b>Why choose Bluemoon</b></p>
        <ul>
          <li>Factory Trained Local Technicians</li>
          <li>Over 20 year experience</li>
          <li>Low cost high quality service</li>
          <li>Insurance for your appliance. If we are unable to fix your appliance
            we will return it in the same condition without causing additional damage</li>
        </ul>
      </div>


    </div>
  </div>
</div>

