<!--<p>expertise-list works!</p>-->
<div class="container-fluid">
  <div class="container xd-container">

    <h2>Expertises</h2>
    <table id="expertises" class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Expertise</th>
      </tr>
      </thead>
      <tbody>
      <tr><td><div>Jimmy Henderson</div></td><td><div>HVAC(Heating, ventilation, and air conditioning)Expert</div></td></tr>
      <tr><td><div>Mitchell Garcia</div></td><td><div>Senior Technician HVAC</div></td></tr>
      <tr><td><div>Alex Holmes</div></td><td><div>Senior Technician Audio & Visual</div></td></tr>
      <tr><td><div>Johnny Long</div></td><td><div>Junior Technician HVAC</div></td></tr>
      <tr><td><div>Racquel Smith</div></td><td><div>Junior Technician Audio & Visual</div></td></tr>
      <tr><td><div>Lawrence King</div></td><td><div>Junior Technician HVAC</div></td></tr>
      </tbody>
    </table>

    <div>
      <button class="btn btn-default" (click)="gotoHome()">Home</button>

    </div>
  </div>
</div>

