
<div *ngIf="getUserName">
  <button type="button" class="btn btn-temp" (click)="logout()">
    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
    Logout By Okta</button>
</div>

<div *ngIf="!getUserName">
  <button type="button" class="btn btn-temp"  (click)="login()">
    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    Login By Okta </button>
</div>
<div *ngIf="getUserName">
<div class="container-fluid">
<!--navbar-expand-lg -- in one line-->
  <nav class="navbar navbar-default navbar-expand-lg" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span></span></a>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <a routerLink="welcome" title="home page">
            <span class="glyphicon glyphicon-home " aria-hidden="true">&nbsp;</span>
            <span>Home</span>
          </a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button"

             aria-haspopup="true" aria-expanded="false">Customers
          </a><!--             <span class="caret"></span> adds an extra arrow to indicate below-->
          <ul class="dropdown-menu">
            <li><a routerLink="/customers"><span class="glyphicon glyphicon-search"
                                              aria-hidden="true"></span><span>All</span></a></li>
            <li><a routerLink="/customers/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span> Add New</span></a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button"

             aria-haspopup="true" aria-expanded="false">Technicians
          </a><!--             <span class="caret"></span>-->
          <ul class="dropdown-menu">
            <li><a routerLink="/technicians"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span> All</span></a>
            </li>
<!--            <li><a routerLink="/technicians/add"><span class="glyphicon glyphicon-plus"-->
<!--                                                aria-hidden="true"></span><span> Add New</span></a></li>-->
          </ul>
        </li>
        <li>
          <a routerLink="/appliancetypes" routerLinkActive="active" title="appliancetypes">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true">&nbsp;</span>
            <span>Appliance Types</span>
          </a>
        </li>
        <li>
          <a routerLink="/expertises" routerLinkActive="active" title="expertises">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true">&nbsp;</span>
            <span>Expertises</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>
<router-outlet></router-outlet>
