<!--<p>appliancetype-list works!</p>-->
<div class="container-fluid">
  <div class="container xd-container">

    <h2>Appliance Types</h2>
    <table id="appliancetypes" class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appliancetype of appliancetypes; let element_id=index">
        <td>
          {{appliancetype.name}}
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-default" (click)="gotoHome()">Home</button>
    </div>
  </div>
</div>
